body {
    background-color: burlywood;
}

.container {
    display: flex;
    justify-content: center;
}

.container1 {
    max-width: 350px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.h1 {
    color: black;
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
}

.img {
    width: 215px;
    height: 350px;
    border-radius: 12px;
}

.container-body {
    text-align: center;
}